<!DOCTYPE html>
<html>
<head>
  <title>&fnof; to &chi;</title>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script> 
  <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//developer.oanda.com/oandajs/oanda.js"></script> 

  <%= include_gon %>  
  <%= javascript_include_tag params[:controller] %>  
  <%= stylesheet_link_tag    "application", params[:controller], media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
